<div class="well hoverwell thumbnail" [routerLink]="['/events', eventInput.id]">
    <h2>{{eventInput.name}}</h2>
    <div>Date: {{eventInput.date}}</div>
    <div [ngClass]="getTimeClass()" [ngSwitch]="eventInput.time">
        Time: {{eventInput.time}} 
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: {{eventInput.price | currency}}</div>
    <div *ngIf="eventInput.location">
        <span>Location: {{eventInput.location.address}} </span>
        <span>{{eventInput.location.city}}, {{eventInput.location.country}}</span>
    </div>
    <div *ngIf="eventInput.onlineUrl">
        <span>Online URL: {{eventInput.onlineUrl}} </span>
    </div>
</div>