<div class="well hoverwell thumbnail">
    <h2>{{eventInput.name}}</h2>
    <div>Date: {{eventInput.date}}</div>
    <div>Time: {{eventInput.time}}</div>
    <div>Price: {{eventInput.price | currency}}</div>
    <div *ngIf="eventInput.location">
        <span>Location: {{eventInput.location.address}} </span>
        <span>{{eventInput.location.city}}, {{eventInput.location.country}}</span>
    </div>
    <div *ngIf="eventInput.onlineUrl">
        <span>Online URL: {{eventInput.onlineUrl}} </span>
    </div>
</div>